.movies-card-list {
  background-color: #FFFFFF;
  padding: 70px 70px 80px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-card-list__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  column-gap: 20px;
  row-gap: 38px;
}

.movies-card-list__more-button {
  margin: 58px auto 0px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  padding: 11px 60px 9px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.movies-card-list__more-button:hover {
  opacity: 0.8;
}

@media screen and  (max-width: 780px) {
  .movies-card-list {
    padding: 82px 30px 80px;
  }

  .movies-card-list__container {
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    gap: 30px
  }
}

@media screen and  (max-width: 400px) {
  .movies-card-list {
    padding: 40px 10px 80px;
  }

  .movies-card-list__container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 34px
  }

  .movies-card-list__more-button {
    width: 240px;
    margin: 57px auto 0;
  }
}